*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    margin: opx;
    width: 40%;
    
}
.nav{
    background-color: #1f2937;
    color: #ffff;
    padding-top: 0px;
    padding-bottom: 80px;
}
.container{
    display: flex;
    justify-content: space-around;
    color: #ffff;
    text-decoration: none;
}
.container,ul{
    display: flex;
    list-style: none;
    color: #ffff;
    
    
}
a:link{
    color: #ffff;
    margin: 15px;
    text-decoration: none;
    
}
.container2{
    display: flex;
    justify-content: space-around;
}
.container2 .grey{
    background-color: rgba(117, 114, 114, 0.929);
    padding: 40px;
    margin: 40px;

}
button{
    margin-left: 100px;
    background-color: #3882f6;
    color: #ffff;
    padding: 3px;
    border-radius: 10px;
    width: 80px;
    
}
.section{
    background-color: #ffff;
}
.para, h2{
    margin-left: 100px;
    
}

.container3{
    display: flex;
    justify-content: space-evenly;
}
.container3 .box{
    border: 3px solid #3882f6;
    padding: 40px;
    width: 100px;
    border-radius: 8px;
}
.middle{
    background-color: #E5E7EB;
}
.middle1{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 0px;
}

 h3{
    margin-left: 300px;
}
.footer{
    background-color: #3882f6;
    display: flex;
    margin: 100px;
    height: 100px;
   
}
.myfooter{
    margin-left: 100px;
    color: #ffff;
    padding-top: 30px;
    padding-bottom: 40px;
}
button{
    margin: 50px;
    color: #ffff;
    border-radius: auto;
    border: 1px solid white;
}